.pet-show-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  /* margin: 30px; */
  /* width: 100vw; */
}

.pet-show-information {
  border: 5px solid var(--dark-purple);
  background-color: var(--light-blue);
  color: var(--dark-purple);
  border-radius: 10px;
  font-family: ShakyRegular;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  padding: 20px 35px;
  overflow: auto;
}

.pet-show-information h2{
  background-color: var(--light-purple);
  color: var(--light-yellow);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  font-size: 38px;
  margin-bottom: 15px;
}

.pet-show-information li {
  list-style-type: none;
  margin: 10px 0;
}

.pet-show-interact {
  width: 500px;
}

.pet-show-buttons, .pet-show-button-adopt {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transform: translateX(11%);
}

.pet-show-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 70px;
  margin: 5px;
  background-color: var(--light-yellow);
  border: 2px solid var(--dark-purple);
  border-radius: 50%;
  font-family: ShakyRegular;
  font-size: 32px;
  color: var(--dark-purple);
}

.pet-show-button-adopt > * {
  background-color: var(--light-yellow);
  margin: 0 10px 0 10px;
  padding: 20px;
  border: 2px solid var(--dark-purple);
  border-radius: 50%;
  font-family: ShakyRegular;
  font-size: 32px;
  color: var(--dark-purple);
  width: 200px;
}

.pet-show-buttons>*:hover, .pet-show-button-adopt>*:hover {
  transition: .3s;
    transform: scale(1.08);
    color: var(--light-purple)
}

.max-pets {
  width: 250px;
  opacity: .50;
  border-radius: 15px;
  padding: 10px 20px;
}

.max-pets:hover {
  transform: none;
  color: var(--dark-purple);
}

.pet-show-image {
  /* top: 100px;
  left: 33%;
  position: absolute; */
  width: 480px;
  height: 478px;
  border-radius: 8px;
  object-fit: cover;
  margin: 70px 60px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid var(--dark-purple);
}

#pet-feed-image,
#pet-play-image,
#pet-pat-image,
#pet-shower-image {
  width: 480px;
  height: 478px;
  border-radius: 8px;
  object-fit: cover;
  margin: 146px 60px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid var(--dark-purple);
}

#feedPet {
  display: none;
}

#playPet {
  display: none;
}

#patPet {
  display: none;
}

#showerPet {
  display: none;
}

.pet-show-description {
  background-color: var(--light-blue);
  border: 5px solid var(--dark-purple);
  color: var(--dark-purple);
  border-radius: 8px;
  font-family: ShakyRegular;
  font-size: 30px;
  padding: 20px 35px;
  width: 400px;
  height: 600px;
  overflow: auto;
  margin-left: 110px;
}

.pet-show-description h2 {
  background-color: var(--light-purple);
  color: var(--light-yellow);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  font-size: 38px;
  margin-bottom: 15px;
}

.pet-info-description {
  font-size: 24px;
  line-height: 1.8;
}

@media screen and (max-width: 1024px) {
  .pet-show-container {
    width: 750px;
    flex-direction: column;
  }
  .pet-show-information {
    width: 100%;
    height: 650px;
  }
  .pet-show-interact {
    width: 100%;
  }
  .image-container {
    position: relative;
    width: 0;
    top: -680px;
    left: 300px;
  }
  .pet-show-image,
  #pet-feed-image,
  #pet-play-image,
  #pet-pat-image,
  #pet-shower-image {
    width: 440px;
  }
  .pet-show-description {
    width: 100%;
    margin-top: -550px;
    margin-left: 0;
  }
  .pet-show-information li {
    max-width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .pet-show-container {
    width: 750px;
    flex-direction: column;
  }
  .pet-show-information {
    width: 90%;
    height: 700px;
    margin-left: 75px;
  }
  .pet-show-interact {
    width: 100%;
  }
  .image-container {
    position: relative;
    width: 0;
    top: -700px;
    left: 300px;
  }
  .pet-show-image {
    width: 440px;
  }
  .pet-show-description {
    width: 90%;
    margin-top: -550px;
    margin-left: 75px;
  }
  .pet-show-information li {
    max-width: 210px;
  }
}